extends layout

block content
    div.header
        h1.titre #{title}
        if (!user)
            a(href="/login") Connexion
            a(href="/register") Inscription
        if (typeof user != 'undefined')
            p #{user.role} : #{user.email}
                a(href="/logout") Déconnexion
            if (user.role === 'Admin')
                a(href="/creerAnnonce")
                    button(type="button") Nouvelle annonce
    div.row
        each annonce in annonces
            div.col-xs-6.col-md-4
                div.annonce
                    h2.annonce-titre #{annonce.type}: #{annonce.titre}
                    div.annonce-details
                        p.text-left Prix : #{annonce.prix}€
                        p.text-left Date de disponibilité : #{annonce.disponibilite}
                        a(href="/annonce/" + annonce.id).text-right Voir l'annonce
                        img(src=annonce.photos alt='Picture not found').img-responsive
                        p.nomargin= annonce.statutBien

