extends layout

block content
    .container
        .wrapper
            #content-form
                a(href='/')
                    button.btn.btn-secondary(type="button") Retour
                h2 Modifier une annonce
                form(role='form' action="/annonce/edit/" + annonce.id method="post" enctype="multipart/form-data")
                    .form-group
                        label.form-controle(for='titre')
                            | Titre de l'annonce
                        input#titre.form-control(type='text' name="titre" value=annonce.titre required='')
                    .form-group
                        .form-check-inline
                            input#vente.form-check-input(type='radio' name='type' value='Vente' checked=annonce.type==="Vente")
                            label.form-check-label(for='vente')
                                | Vente
                        .form-check-inline
                            input#location.form-check-input(type='radio' name='type' value='Location' checked=annonce.type==="Location")
                            label.form-check-label(for='location')
                                | Location
                    .form-group
                        .form-check-inline
                            input#publie.form-check-input(type='radio' name='statutPublication' value='Publié' checked=annonce.statutPublication==="Publié")
                            label.form-check-label(for='publie')
                                | Publié
                        .form-check-inline
                            input#nonPublie.form-check-input(type='radio' name='statutPublication' value='NonPublié' checked=annonce.statutPublication==="NonPublié")
                            label.form-check-label(for='nonPublie')
                                | Non Publié
                    .form-group
                        .form-check-inline
                            input#disponible.form-check-input(type='radio' name='statutBien' value='Disponible' checked=annonce.statutBien==="Disponible")
                            label.form-check-label(for='disponible')
                                | Disponible
                        .form-check-inline
                            input#louee.form-check-input(type='radio' name='statutBien' value='Louée' checked=annonce.statutBien==="Louée")
                            label.form-check-label(for='louee')
                                | Louée
                        .form-check-inline
                            input#vendu.form-check-input(type='radio' name='statutBien' value='Vendu' checked=annonce.statutBien==="Vendu")
                            label.form-check-label(for='vendu')
                                | Vendu
                    .form-group
                        label.form-controle(for='description')
                            | Description de l'annonce
                        input#description.form-control(type='text' name="description" value=annonce.description required='')
                    .form-group
                        label.form-controle(for='prix')
                            | Prix du bien
                        input#prix.form-control(type='number' name="prix" value=annonce.prix required='')
                    .form-group
                        label.form-controle(for='disponibilite')
                            | Disponibilité du bien
                        input#disponibilite.form-control(type='date' name="disponibilite" value=annonce.disponibilite.toISOString().substr(0, 10) required='')
                    .form-group
                        label.form-controle(for='photos')
                            | Photo(s)
                        input#photos.form-control(type='file', name="photos", multiple='' accept='image/*')
                    input(type='submit' value='valider')